{% comment %}
  body = sam HTML <li>вҖҰ wewnД…trz ul. Jeden link: bez h4 gdy to samo znaczeniowo:
  identycznie; DlaвҶ”Prezent dla; DzieЕ„ XвҶ”Prezent na DzieЕ„ X; Еҡlub/KomuniaвҶ”prezent na Еӣlub/komun;
  Na szkle/pЕӮГіtnie/plakat вҶ” link zawiera frazДҷ; ЕҡwiДҷta/Walentynki/вҖҰ вҶ” prezent na вҖҰ + sЕӮowo z nagЕӮГіwka.
{% endcomment %}
{%- if body != blank -%}
  {%- assign _parts = body | split: 'class="footer-collections-link">' -%}
  {%- assign _n = _parts.size | minus: 1 -%}
  {%- assign _first = _parts[1] | split: '</a>' | first | strip_html | strip -%}
  {%- assign _h = heading | strip | downcase -%}
  {%- assign _f = _first | downcase -%}
  {%- assign _omit = false -%}
  {%- if _n == 1 and _first != blank -%}
    {%- if _f == _h -%}
      {%- assign _omit = true -%}
    {%- elsif _h contains 'dla ' -%}
      {%- assign _tail = _h | remove_first: 'dla ' | strip -%}
      {%- if _tail != blank -%}
        {%- assign _expect = 'prezent dla ' | append: _tail -%}
        {%- if _f == _expect -%}
          {%- assign _omit = true -%}
        {%- endif -%}
      {%- endif -%}
    {%- elsif _h contains 'dzieЕ„' -%}
      {%- assign _expect = 'prezent na ' | append: _h -%}
      {%- if _f == _expect -%}
        {%- assign _omit = true -%}
      {%- endif -%}
    {%- elsif _h contains 'Еӣlub' and _h contains 'komun' -%}
      {%- if _f contains 'prezent na' and (_f contains 'Еӣlub' or _f contains 'komun') -%}
        {%- assign _omit = true -%}
      {%- endif -%}
    {%- elsif _h == 'na szkle' or _h == 'na pЕӮГіtnie' or _h == 'plakat' -%}
      {%- if _f contains _h -%}
        {%- assign _omit = true -%}
      {%- endif -%}
    {%- elsif _h == 'ЕӣwiДҷta' or _h == 'walentynki' or _h == 'urodziny' or _h == 'imieniny' or _h == 'wielkanoc' -%}
      {%- if _f contains 'prezent na' and _f contains _h -%}
        {%- assign _omit = true -%}
      {%- endif -%}
    {%- elsif _h == 'rocznica' -%}
      {%- if _f contains 'prezent na' and _f contains 'rocznic' -%}
        {%- assign _omit = true -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
<div class="footer-cat-sub">
  {%- unless _omit -%}<h4 class="footer-cat-subtitle">{{ heading }}</h4>{%- endunless -%}
  <ul class="footer-collections-list footer-collections-list--compact">{{ body }}</ul>
</div>
{%- endif -%}
